<h3 class="ui block header">
  Number to beat: 0.6931472
</h3>
<table class="ui sortable striped celled table">
  <thead>
    <tr>
      <th>Deme ID</th>
      <th>Deme Type</th>
      <th>Generation</th>
      <th>Pool Size</th>
      <th>ProgramSize</th>
      <th>Running</th>
      <th>Best Gene</th>
      <th>Best LogLoss</th>
    </tr>
  </thead>
  <tbody>
    <% @demes.each do |deme| %>
      <tr>
        <td><%= link_to deme.id, deme_path(deme), :class => "ui button" %></td>
        <td><%= deme.program_type %></td>
        <td><%= link_to deme.generation, [deme, :programs], :class => "ui button" %></td>
        <td><%= deme.max_size %></td>
        <td><%= deme.max_program_size %></td>
        <td><%= !deme.stop %></td>
        <td><%= (deme.best_gene || "")[0...100] %></td>
        <% log_loss = (deme.best_log_loss.to_f rescue 0) %>
        <td class="<%= log_loss != 0 && log_loss < 0.6931472 ? "positive" : "negative" %>">
          <% str = '%.6f' % log_loss %>
          <% params = {:program => deme.best_gene, :program_type => deme.program_type} %>
          <%= link_to str, 
            export_files_path(params), 
            :method => :post, 
            :class => "ui button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create Deme", new_deme_path, :class => "ui button" %>
