<%= form_for :deme, url: demes_path do |f| %>
  <p>
    <%= f.label "Max pool size" %>
    <%= f.text_area :max_size %>
  </p>
  <p>
    <%= f.label :max_program_size %>
    <%= f.text_area :max_program_size %>
  </p>
  <p>
    <%= f.label :program_type %>
    <%= f.select :program_type, options_for_select(Program::PROGRAM_TYPES) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
