<table class="ui sortable striped celled table">
  <thead>
    <tr>
      <th>File ID</th>
      <th>File Path</th>
      <th>Program Type</th>
      <th>Program</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @export_files.each do |file| %>
      <tr>
        <td><%= file.id %></td>
        <td><%= link_to file.path, (file.path || "").gsub("public","") %></td>
        <td><%= file.program_type %></td>
        <td><%= file.program %></td>
        <td><%= file.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

